<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009601110335-o4n1ql6nqn767287termlsq8acfaosna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009601110335-o4n1ql6nqn767287termlsq8acfaosna</string>
	<key>API_KEY</key>
	<string>AIzaSyC1uL_H42z3YKUyrjLRw1i8G7tJKt-oazE</string>
	<key>GCM_SENDER_ID</key>
	<string>1009601110335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rnContact</string>
	<key>PROJECT_ID</key>
	<string>rn-contacts-fbdcd</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-contacts-fbdcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009601110335:ios:85e25d6dcd7ad0b8efb38a</string>
</dict>
</plist>